<!DOCTYPE html>
<html lang="en">
<head>
    <!--Jennifer Johnson's Portfolio Home Page
        November 2014-->

<title>Jennifer Johnson Contact</title>
<meta charset="utf-8">
<!--    
<link href="print.css" rel="stylesheet" media="print">  -->
<link href="css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="jennifer.css">
     <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<style>
#map_canvas {
  height: 300px;
  width: 300px;
  margin: auto;
}

form {
  margin-top: 50px;
}
form p {
  margin-bottom: 40px;
}
.textBox {
  margin-bottom: 40px;
  margin-right: 40px;
}
 button {
  margin-top: 40px;
 }
textarea {
  width: 300px;
  height: 150px;
}
label {
  vertical-align: top;
  margin-bottom: 20px;
}
form input[type="text"]:focus, textarea:focus, input[type="email"]:focus {
  background-color: #F0EDE5;
  color: black;

}

@media only screen and (max-width 900px) {
  #map_canvas {
    height: 200px;
    width: 299px;
    margin: auto;
  }
}
</style>


<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
</head>
<body>
     <div class="wrapper">

<header class="container-fluid">
<div class="row head">
<div class="col-xs-2">
      <img src="images/logo.gif" alt="logo" class="logo img-responsive">
      </div><!--end logo col-->
    <div class="col-xs-10">
     <h1 class="name">Jennifer Johnson</h1>
     
     <p class="slogan">Student of Technology and Creativity</p>
     </div><!--end header title col-->
     </div><!--end header row -->
</header>

<nav  role="navigation" class="navbar navbar-inverse">
<div class="container-fluid">
     <div>
          <ul class="nav navbar-nav">
                <li role="presentation"><a href="index.html">Home</a></li>
               <li role="presentation" class="active"><a href="contact.html">Contact</a></li>
               <li role="presentation"><a href="projects.html">Projects</a></li>
               <li role="presentation"><a href="aboutme.html">About Me</a></li>
               <li role="presentation"><a href="css.html">CSS</a></li>
               <li role="presentation"><a href="photoshop.html">Photoshop</a></li>
          </ul>
     </div>
</div>
</nav>



<div class="contact">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6">
     <h2>Contact Me</h2>
     <ul class="contactInfo">
          <li><a href="mailto:jennifer_johnson@my.minnesota.edu">E-mail jennifer_johnson5@my.minnesota.edu</a></li>
          <li>411 Prairie View <br> Cologne, MN  55322</li>
          <li><a href="tel:952-292-4983">952-292-4893</a></li>
          <li><a href="https://www.facebook.com/jennifer.johnson.716533" target="_blank">Facebook</a></li>
     </ul>
<!-- Form showing example of binding using AngularJS -->
      
<form name="form" class="form" ng-app="myApp" ng-controller="myController">



  <label class="label">First Name:</label>
  <input type="text" ng-model="firstName" class="textBox"><br>

  <label class="label">Last Name:</label>
  <input type="text" ng-model="lastName" class="textBox"><br>

  <label class="label">Email address:</label>
  <input type="email" ng-model="email" class="textBox"><br>

  <p><span class="label gender">Gender:</span>

  <label for="male" class="label">
  <input type="radio" ng-model="gender" value="male"  id="male">
  Male </label>

  <label class="label" for="female">
  <input type="radio" ng-model="gender" value="female"  id="female">
  Female </label>
  </p>
  
  

    <label style="color: white">Comments:</label>
    <textarea ng-model="comments" rows="10" cols="50" class="textBox"></textarea>


  <button ng-click="toggle()">Send</button>

<!--This area is hidden until the send button is pushed.  It acts like a submitted form -->
<div ng-hide="greeting" class="received"> 
<p>Thank you for your input, {{firstName}} {{lastName}}! </p>  
  <p>Sent from: {{email}}<br>
  Comments:  {{comments}}</p>
  </div>
  

</form>
        </div>
        <!--below is the div that holds the Google Maps API-->
<div class="col-sm-6">
<div id="map_canvas"></div>
<p class="mapTitle"> I live in approximately 45minutes SW of Minneapolis, MN. </p>
</div>

    </div>
  </div>
</div>



<footer class="footer">
<div class="container text-center">
     <a href="mailto:jennifer_Johnson5@my.minnesota.edu"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>jennifer_johnson5@my.minnesota.edu</a>
     </div>
</footer
     </div>

<!--link to script needed to run Googlemap API -->
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuwq6xwumoMaENFA7Kt0uJL9Hy_wVln0o">
    </script>

<!-- script for the Google map feature located here -->
     <script src="portfolio.js">
      </script>

      <!--Scirpt to run KnockoutJS features in the form -->
      <script>

 var app = angular.module('myApp', []);
app.controller('myController', function($scope) {
  
  $scope.firstName="First name ",
  $scope.lastName="Last name ",
  $scope.greeting=true,
  $scope.email=" ",
  $scope.comments=" "

  $scope.toggle= function() {
    $scope.greeting =!$scope.greeting
    
  };
  
  
});

      </script>
      <!--hosted jquery library -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


<script src="js/bootstrap.min.js"></script>

</body>
</html>