

@import url(reset.css);





html {
	background-color: rgb(32, 47, 85);
}
body {
	background-color: rgb(241, 241, 213);
	border: 5px solid rgb(75,75,75);
	box-shadow: 0 0 15px 5px rgb(22, 25, 65,.75);
	width: 900px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}
.nav {
	list-style-type: none;
	margin: 0;
	margin-right: 12px;
	padding: 0;
	overflow: hidden;
	border-bottom: 4px solid rgb(75,75,75);
	margin-bottom: 7px;
}
.nav li {
	float: left;
}
.nav a {
	display: block;
	width: 140px;
	font-weight: bold;
	color: rgb(249, 249, 240);
	background-color: rgb(32, 47, 85);
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 10px 10px 0 0;
}
.nav a:hover {
	background-color: #023D6E;
}
.banner img {
	border: 2px solid rgb(22, 25, 65,.75);
	box-shadow: 0 0 5px 5px rgb(22, 25, 65,.75);
	margin-bottom: 5px;
}
h1 {
	font-size: 2.75em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	text-align: center;
	letter-spacing: 1px;
	color: rgb(241, 241, 213);
	text-transform: uppercase;
	background-color: background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(left,  rgb(69,72,77) 0%, rgb(38,38,38) 47%, rgb(96,96,96) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(69,72,77)), color-stop(47%,rgb(38,38,38)), color-stop(100%,rgb(96,96,96))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgb(69,72,77) 0%,rgb(38,38,38) 47%,rgb(96,96,96) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgb(69,72,77) 0%,rgb(38,38,38) 47%,rgb(96,96,96) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgb(69,72,77) 0%,rgb(38,38,38) 47%,rgb(96,96,96) 100%); /* IE10+ */
background: linear-gradient(to right,  rgb(69,72,77) 0%,rgb(38,38,38) 47%,rgb(96,96,96) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#606060',GradientType=1 ); /* IE6-9 */
;
	padding: 5px 15px 2px 15px;
	margin: 0 -15px 20px -15px;
	
}
h2 {
	font-size: 1.5em;
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	color: rgb(32, 47, 85);
	border-top: 2px dotted rgb(0, 0, 0);
	border-bottom: 2px dotted rgb(0, 0, 0);
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 15px 0 5px 0;
	overflow: hidden;
}
h3 {
	font-size: 1.5em;
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	color: rgb(32, 47, 85);
	border-bottom: 2px dotted rgb(75,75,75);
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 15px 0 5px 0;
}
.sidebar {
	width: 30%;
	float: right;
	margin: 10px;
	background-color: rgb(249, 249, 240);
	padding: 10px 20px;
	border: 1px dotted rgb(32, 47, 85);
	border-top: 20px solid rgb(32, 47, 85);
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}
.sidebar h2 {
	border: none;
	margin-top: 0;
	padding: 0;
}
.sidebar ul {
	list-style-type: circle;
	padding-bottom: 10px;
	padding-top: 20px;
}
.sidebar li {
	padding-bottom: 20px;
}
.sidebar a {
	text-decoration: none;
	color: #050132;
	font-weight: bold;
	
}
.sidebar a:visited {
	color: #5B5E67;
}
.sidebar a:hover {
	color: #000000;
	background-color: #DFDFE2;
	border-bottom: 1px solid #000000;
}
footer {
	clear: both;
	padding-top: 40px;
	text-align: center;
}

a[href^="mailto:"] {
	color: #666666;
	border: none;
	background: url(images/email.gif) no-repeat left center;
	padding-left: 20px;
	margin-left: 10px;
}